@font-face {
  font-family: "DS-DIGI";
  src: url(font/DS-DIGI.TTF);
}

body {
  margin: 10% auto;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 100px;
  width: 100px;
  background: #818287;
  color: #2e4b77;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: arial;
  font-size: 2.5rem;
  font-weight: bold;
  border-style: outset;
  box-sizing: border-box;
  border-width: thick;
  border-color: inherit;
}

button:active {
  border-style: inset;
}

.op {
  height: 100px;
  width: 100px;
  background: #d3d3d3;
  color: #2e4b77;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: arial;
  font-size: 2.5rem;
  font-weight: bold;
  border-style: outset;
  box-sizing: border-box;
  border-width: thick;
  border-color: inherit;
}

.op:active {
  border-style: inset;
}

.spec {
  height: 100px;
  width: 100px;
  background: #2e4b77;
  color: #818287;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: arial;
  font-size: 2.5rem;
  font-weight: bold;
  border-style: outset;
  box-sizing: border-box;
  border-width: thick;
  border-color: inherit;
}

.spec:active {
  border-style: inset;
}

#wrapper {
  height: 500px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid #818287;
  border-radius: 5px;
  margin: 0 auto;
}

#lcd {
  border-style: inset;
  box-sizing: border-box;
  border-width: thick;
  font-size: 4rem;
  font-family: "DS-DIGI";
  font-weight: normal;
  text-shadow: 3px 3px #9c9da3;
  width: 300px;
  height: 100px;
  padding: 2px;
  color: #222225;
  background: #aeb8b0;
  justify-content: flex-end;
}
